# 通用忽略
node_modules/
dist/
*.log

# 前端特有
/llm-app-frontend/node_modules/
/llm-app-frontend/build/
/llm-app-frontend/.env
/llm-app-frontend/.vscode/

# 后端特有
/llm-app-backend/venv/
/llm-app-backend/__pycache__/
/llm-app-backend/.env